.container-1 {
    display:flex;
    border: 5px solid black;
    /*height: 100%;
    align-items: center;*/
    flex-direction: column;
}

.box-1 {
    border: 2px solid black;
    /*align-self: flex-end;*/

}

.box-2 {
    border: 2px solid black;
}

.box-3 {
    border: 2px solid black;
    /*align-self: flex-start;*/
}

